body {
    font-family: 'poppins', sans-serif;
    margin: 0px;
}

.spn {
    color: orange;
}

section {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 100%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 5px;
    
}
.top-banner{
    margin-bottom: 100px;
}
.dream-sc{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}